<section style="padding-top: 40px; margin-top: -40px;" id="formazione">
  <hr>
  <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
      style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Formazione</h2>
  <hr>
  <p class="dark-grey-text text-justify">
    Durante il mio percorso professionale ho ottenuto diverse certificazioni a livello Nazionale, eccone alcune:
  </p>
  <p class="dark-grey-text text-justify">
    Personal Trainer ISSA 1 Livello<br>
    Tecnico FIPE 1° Livello<br>
    Certificazione ISSA Functional Training<br>
    Crossfit Level 2<br>
    Diploma Nazionale iscritto al registro CONI<br>
    Iscritto Albo Ereps EQF-Lv5<br>
    Crossfit Weightlifting Trainer<br>
    CrossFit Gymnastic Trainer<br>
    Istruttore Powerlifting certificato FIPL<br>
    C2 Indoor Rowing Instructor Level 1<br>
    Trainer Functional Training CONI<br>
    Trainer certificato TRX suspension training<br>
    Trainer Kettlebell riconosciuto CONI<br>
    Master Nutrizione sportiva CONI<br>
    Seminario ISSA Donne e Cellulite<br>
    Atleta tesserato Fipe<br>
    Atleta CrossFit<br>
    Attestato BLSD<br>
  </p>
  <p class="dark-grey-text text-justify">
    Potete visualizzare ulteriori informazioni sul mio profilo Linkedin al seguente link ->
    <a href="https://www.linkedin.com/in/emanuele-caloisi-aaa753105">Linkedin</a>
  </p>
</section>
