<section style="padding-top: 40px; margin-top: -40px;" id="contatti">
  <hr>
  <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
      style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Contatti</h2>
  <hr>

  <div class="row contattiFont">
    <div class="col justify-content-center">
      <div class="row">
        <div class="col justify-content-center">
          Sito:
        </div>
      </div>

      <div class="row">
        <div class="col justify-content-center">
          <a href="https://emanuelecaloisi.it"><b>emanuelecaloisi.it</b></a>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col justify-content-center">
          Email:
        </div>
      </div>

      <div class="row">
        <div class="col justify-content-center">
          <a href="mailto:emanuelecaloisi@gmail.com"><b>emanuelecaloisi@gmail.com</b></a>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col justify-content-center">
          Telefono/Whatsapp:
        </div>
      </div>

      <div class="row">
        <div class="col justify-content-center">
          <a class="wha-ic" href="https://wa.me/393293671498">
            <i class="fab fa-whatsapp-square fa-lg green-text fa-3x"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
