<div class="col" *ngIf="!isMobile">
  <app-generic-about-me></app-generic-about-me>
</div>

<div id="accordionChiSono" *ngIf="isMobile">
  <div class="card">
    <div class="card-header" id="headingChiSono">
      <h5 class="mb-0">
        <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseChiSono"
           aria-expanded="false" aria-controls="collapseChiSono">
          About Me
        </a>
      </h5>
    </div>

    <div id="collapseChiSono" class="collapse" aria-labelledby="headingChiSono" data-parent="#accordionChiSono">
      <div class="card-body">
        <app-generic-about-me></app-generic-about-me>
      </div>
    </div>
  </div>
  <br>
</div>
