<div class="col" *ngIf="!isMobile">
  <app-generic-formazione></app-generic-formazione>
</div>

<div id="accordionFormazione" *ngIf="isMobile">
  <div class="card">
    <div class="card-header" id="headingFormazione">
      <h5 class="mb-0">
        <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFormazione"
           aria-expanded="false" aria-controls="collapseFormazione">
          Formazione
        </a>
      </h5>
    </div>

    <div id="collapseFormazione" class="collapse" aria-labelledby="headingFormazione" data-parent="#accordionFormazione">
      <div class="card-body">
        <app-generic-formazione></app-generic-formazione>
      </div>
    </div>
  </div>
</div>
