<section style="padding-top: 40px; margin-top: -40px;" id="news">
  <hr id="ciao">
  <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
      style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">News</h2>
  <hr>

  <div class="row">
    <div class="col" *ngIf="!isMobile">
      <iframe frameborder="0" allowtransparency="true" allowfullscreen="true"
              scrolling="no"
              title="fb:page Facebook Social Plugin"
              src="https://web.facebook.com/v3.3/plugins/page.php?adapt_container_width=true&amp;app_id=301480450250930&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df18fcbfe4aa2cc4%26domain%3Dwww.emanuelecaloisi.it%26origin%3Dhttps%253A%252F%252Fwww.emanuelecaloisi.it%252Ff269df31b78dec8%26relation%3Dparent.parent&amp;height=722&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2Femanuelecaloisipersonaltrainer%2F&amp;locale=it_IT&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=500"
              style="border: none; visibility: visible; width: 500px; height: 722px;" class=""></iframe>
      <!-- >
      <iframe *ngIf="isMobile" frameborder="0" allowtransparency="true" allowfullscreen="true"
              scrolling="no"
              title="fb:page Facebook Social Plugin"
              src="https://web.facebook.com/v3.3/plugins/page.php?adapt_container_width=true&amp;app_id=301480450250930&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df18fcbfe4aa2cc4%26domain%3Dwww.emanuelecaloisi.it%26origin%3Dhttps%253A%252F%252Fwww.emanuelecaloisi.it%252Ff269df31b78dec8%26relation%3Dparent.parent&amp;height=722&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2Femanuelecaloisipersonaltrainer%2F&amp;locale=it_IT&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=330"
              style="border: none; visibility: visible; height: 722px; width:330px;" class=""></iframe>
      <-->
      <br>
    </div>

    <div class="col" style="text-align: -webkit-right; overflow-y: scroll">
      <app-embed-social-widget [refId]="'626a6143a9217b09212c4fa5aa8d415cceb9f886'"></app-embed-social-widget>
    </div>
  </div>

  <!--
  <br *ngIf="isMobile">
  <div class="row" *ngIf="isMobile">
    <div class="col" style="text-align: -webkit-right;">
      <app-embed-social-widget [refId]="'626a6143a9217b09212c4fa5aa8d415cceb9f886'"></app-embed-social-widget>
    </div>
  </div>
  -->
</section>
