<section style="padding-top: 40px; margin-top: -40px;" id="prezzi">
  <hr>
  <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
      style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Prenota un appuntamento</h2>
  <hr>

  <div class="pricing4 py-5">
    <div class="container">
      <div class="calendly-inline-widget" data-url="https://calendly.com/emanuelecaloisi/30min" style="min-width:320px;height:630px;"></div>
    </div>
  </div>
</section>


<!--SEZIONE CON FORM EMAIL-->
<!--<div class="page-desc">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-md-8">-->
<!--      <form [formGroup]="mailForm" (ngSubmit)="onSubmit()">-->
<!--        <div class="form-group">-->
<!--          <label for="nome"><b>Nome *</b></label>-->
<!--          <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" formControlName="nome">-->
<!--          <label *ngIf="mailForm.get('nome').touched && mailForm.get('nome').invalid"-->
<!--                 [ngClass]="'error'">Campo obbligatorio</label>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="nome"><b>Email *</b></label>-->
<!--          <input type="text" name="email" id="email" class="form-control" placeholder="Email"-->
<!--                 formControlName="email">-->
<!--          <label *ngIf="mailForm.get('email').touched && mailForm.get('email').hasError('required')"-->
<!--                 [ngClass]="'error'">Campo obbligatorio</label>-->
<!--          <label *ngIf="mailForm.get('email').touched && !mailForm.get('email').hasError('required') && mailForm.get('email').invalid"-->
<!--                 [ngClass]="'error'">Email non valida</label>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="nome"><b>Telefono</b></label>-->
<!--          <input type="number" name="telefono" id="telefono" class="form-control" placeholder="Telefono"-->
<!--                 formControlName="telefono">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="nome"><b>Messaggio *</b></label>-->
<!--          <textarea name="messaggio" id="messaggio" rows="5" class="form-control" placeholder="Messaggio"-->
<!--                    formControlName="messaggio"></textarea>-->
<!--          <label *ngIf="mailForm.get('messaggio').touched && mailForm.get('messaggio').invalid"-->
<!--                 [ngClass]="'error'">Campo obbligatorio</label>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <button class="btn btn-success" disabled="{{mailForm.invalid}}">Invia messaggio</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!-- VECCHIA SEZIONE CON I PREZZI -->
<!--      <div class="row mt-4">-->
<!--        &lt;!&ndash; Column &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--          <div class="card card-shadow border-0 mb-4">-->
<!--            <div class="p-3">-->
<!--              <h5 class="font-weight-medium mb-0">Piano Allenamento - 1 Mese</h5>-->
<!--              <ul class="list-inline font-14 mt-3">-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>-->
<!--              </ul>-->
<!--              <div class="d-flex mt-3 align-items-center">-->
<!--                <h2 class="price">120€</h2>-->
<!--                <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"-->
<!--                                        href="mailto:emanuelecaloisi@gmail.com">Contattami</a></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Column &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--          <div class="card card-shadow border-0 mb-4">-->
<!--            <div class="p-3">-->
<!--              <h5 class="font-weight-medium mb-0">Piano Allenamento - 3 Mesi</h5>-->
<!--              <ul class="list-inline font-14 mt-3">-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>-->
<!--              </ul>-->
<!--              <div class="d-flex mt-3 align-items-center">-->
<!--                <h2 class="price">300€</h2>-->
<!--                <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"-->
<!--                                        href="mailto:emanuelecaloisi@gmail.com">Contattami</a></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Column &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--          <div class="card card-shadow border-0 mb-4">-->
<!--            <div class="p-3">-->
<!--              <h5 class="font-weight-medium mb-0">Piano Allenamento - 6 Mesi</h5>-->
<!--              <ul class="list-inline font-14 mt-3">-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>-->
<!--              </ul>-->
<!--              <div class="d-flex mt-3 align-items-center">-->
<!--                <h2 class="price">540€</h2>-->
<!--                <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"-->
<!--                                        href="mailto:emanuelecaloisi@gmail.com">Contattami</a></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row mt-4">-->
<!--        &lt;!&ndash; Column &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--          <div class="card card-shadow border-0 mb-4">-->
<!--            <div class="p-3">-->
<!--              <h5 class="font-weight-medium mb-0">Piano Allenamento + Nutrizionista* - 1 Mese</h5>-->
<!--              <h6 class="subtitle font-13">*Servizio in collaborazione con Biologo Nutrizionista</h6>-->
<!--              <ul class="list-inline font-14 mt-3">-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Piano Nutrizionale</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>-->
<!--              </ul>-->
<!--              <div class="d-flex mt-3 align-items-center">-->
<!--                <h2 class="price">150€</h2>-->
<!--                <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"-->
<!--                                        href="mailto:emanuelecaloisi@gmail.com">Contattami</a></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Column &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--          <div class="card card-shadow border-0 mb-4">-->
<!--            <div class="p-3">-->
<!--              <h5 class="font-weight-medium mb-0">Piano Allenamento + Nutrizionista* - 3 Mesi</h5>-->
<!--              <h6 class="subtitle font-13">*Servizio in collaborazione con Biologo Nutrizionista</h6>-->
<!--              <ul class="list-inline font-14 mt-3">-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Piano Nutrizionale</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>-->
<!--              </ul>-->
<!--              <div class="d-flex mt-3 align-items-center">-->
<!--                <h2 class="price">360€</h2>-->
<!--                <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"-->
<!--                                        href="mailto:emanuelecaloisi@gmail.com">Contattami</a></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Column &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--          <div class="card card-shadow border-0 mb-4">-->
<!--            <div class="p-3">-->
<!--              <h5 class="font-weight-medium mb-0">Piano Allenamento + Nutrizionista* - 6 Mesi</h5>-->
<!--              <h6 class="subtitle font-13">*Servizio in collaborazione con Biologo Nutrizionista</h6>-->
<!--              <ul class="list-inline font-14 mt-3">-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Piano Nutrizionale</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>-->
<!--              </ul>-->
<!--              <div class="d-flex mt-3 align-items-center">-->
<!--                <h2 class="price">650€</h2>-->
<!--                <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"-->
<!--                                        href="mailto:emanuelecaloisi@gmail.com">Contattami</a></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="row mt-4">-->
<!--        &lt;!&ndash; Column &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--          <div class="card card-shadow border-0 mb-4">-->
<!--            <div class="p-3">-->
<!--              <h5 class="font-weight-medium mb-0">Piano Allenamento - 1 Mese</h5>-->
<!--              <ul class="list-inline font-14 mt-3">-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>-->
<!--              </ul>-->
<!--              <div class="d-flex mt-3 align-items-center">-->
<!--                <h2 class="price">120€</h2>-->
<!--                <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"-->
<!--                                        href="mailto:emanuelecaloisi@gmail.com">Contattami</a></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Column &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--          <div class="card card-shadow border-0 mb-4">-->
<!--            <div class="p-3">-->
<!--              <h5 class="font-weight-medium mb-0">Piano Allenamento - 3 Mesi</h5>-->
<!--              <ul class="list-inline font-14 mt-3">-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>-->
<!--              </ul>-->
<!--              <div class="d-flex mt-3 align-items-center">-->
<!--                <h2 class="price">300€</h2>-->
<!--                <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"-->
<!--                                        href="mailto:emanuelecaloisi@gmail.com">Contattami</a></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Column &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--          <div class="card card-shadow border-0 mb-4">-->
<!--            <div class="p-3">-->
<!--              <h5 class="font-weight-medium mb-0">Piano Allenamento - 6 Mesi</h5>-->
<!--              <ul class="list-inline font-14 mt-3">-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>-->
<!--              </ul>-->
<!--              <div class="d-flex mt-3 align-items-center">-->
<!--                <h2 class="price">540€</h2>-->
<!--                <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"-->
<!--                                        href="mailto:emanuelecaloisi@gmail.com">Contattami</a></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row mt-4">-->
<!--        &lt;!&ndash; Column &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--          <div class="card card-shadow border-0 mb-4">-->
<!--            <div class="p-3">-->
<!--              <h5 class="font-weight-medium mb-0">Piano Allenamento + Nutrizionista* - 1 Mese</h5>-->
<!--              <h6 class="subtitle font-13">*Servizio in collaborazione con Biologo Nutrizionista</h6>-->
<!--              <ul class="list-inline font-14 mt-3">-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Piano Nutrizionale</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>-->
<!--              </ul>-->
<!--              <div class="d-flex mt-3 align-items-center">-->
<!--                <h2 class="price">150€</h2>-->
<!--                <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"-->
<!--                                        href="mailto:emanuelecaloisi@gmail.com">Contattami</a></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Column &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--          <div class="card card-shadow border-0 mb-4">-->
<!--            <div class="p-3">-->
<!--              <h5 class="font-weight-medium mb-0">Piano Allenamento + Nutrizionista* - 3 Mesi</h5>-->
<!--              <h6 class="subtitle font-13">*Servizio in collaborazione con Biologo Nutrizionista</h6>-->
<!--              <ul class="list-inline font-14 mt-3">-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Piano Nutrizionale</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>-->
<!--              </ul>-->
<!--              <div class="d-flex mt-3 align-items-center">-->
<!--                <h2 class="price">360€</h2>-->
<!--                <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"-->
<!--                                        href="mailto:emanuelecaloisi@gmail.com">Contattami</a></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Column &ndash;&gt;-->
<!--        <div class="col-md-4">-->
<!--          <div class="card card-shadow border-0 mb-4">-->
<!--            <div class="p-3">-->
<!--              <h5 class="font-weight-medium mb-0">Piano Allenamento + Nutrizionista* - 6 Mesi</h5>-->
<!--              <h6 class="subtitle font-13">*Servizio in collaborazione con Biologo Nutrizionista</h6>-->
<!--              <ul class="list-inline font-14 mt-3">-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Piano Nutrizionale</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>-->
<!--                <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>-->
<!--              </ul>-->
<!--              <div class="d-flex mt-3 align-items-center">-->
<!--                <h2 class="price">650€</h2>-->
<!--                <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"-->
<!--                                        href="mailto:emanuelecaloisi@gmail.com">Contattami</a></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
