<section id="chiSono">
  <hr>
  <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
      style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">About Me</h2>
  <hr>
  <p class="dark-grey-text text-justify">
    Sono <b>Emanuele Caloisi</b>, nato a Roma classe 1987. Attualmente sono l’Head coach e Owner di
    CrossFit Torrevecchia. Il mio amore per lo sport nasce sin da piccolo avendone praticati tra i
    più disparati, dal nuoto al calcio, passando per il karate ed il pugilato, ottenendo sempre
    buoni risultati agonistici. Proprio grazie a quest’ultimo, nel 2001 mi resi conto di cosa mi
    appassionava e di cosa mi rendesse felice: sudore, sacrificio e voglia di mettermi in gioco. La
    mia dedizione verso quello sport cresceva giorno per giorno, dando sfogo alla mia iperattività
    e tirando fuori il meglio di me stesso!
  </p>
  <p class="dark-grey-text text-justify">
    Purtroppo, a causa di un brutto infortunio alla schiena nel 2008, tutto questo venne
    improvvisamente interrotto e ciò ha fatto sì che il mio percorso nel mondo del pugilato giunse
    al termine. Mentre ero impegnato con la mia riatletizzazione in palestra, la mia attenzione si
    spostò verso una nuova disciplina che in Italia si stava evolvendo proprio in quegli anni: le arti
    marziali miste.
  </p>
  <p class="dark-grey-text text-justify">
    Nel 2009 partecipai ad un camp sulle MMA, dove scoprii la bellezza della preparazione atletica
    dei fighter (metodologia molto simile al CrossFit, sport ancora quasi sconosciuto in Italia) ed in
    particolare mi appassionai al Brazilian Jiu Jitzu sport che praticai per circa 1 anno e mezzo.
  </p>
  <p class="dark-grey-text text-justify">
    Nel 2010 cominciai a lavorare come agente di commercio presso una nota multinazionale.
  </p>
  <p class="dark-grey-text text-justify">
    Successivamente, nel 2012 fui costretto a fermarmi del tutto con gli sport da combattimento
    per colpa di un intervento maxillo-facciale.
  </p>
  <p class="dark-grey-text text-justify">
    In quell’anno bruttissimo però, ebbi come un’illuminazione: capii che questa mia passione
    <b>doveva</b> diventare qualcosa di più. Decisi quindi di iscrivermi alla ISSA (scuola leader nelle
    certificazioni del settore Fitness) dove conseguii il diploma di primo livello nel 2013. Da qui,
    decisi di portare avanti la mia formazione, frequentando costantemente corsi di
    aggiornamento, ed ancora oggi rimane uno dei miei punti cardine.
  </p>
  <p class="dark-grey-text text-justify">
    A questo punto della mia vita mi trovai difronte ad una scelta: rinunciare ad un contratto a
    tempo indeterminato con numerosi benefits, oppure immergermi completamente nel mondo
    dello sport, non più come praticante, ma come coach professionista!
  </p>
  <p class="dark-grey-text text-justify">
    Capii che il mio scopo era quello di trasmettere anche ad altri la mia passione per lo sport,
    quindi decisi di licenziarmi e di buttarmi in una nuova avventura offerta da una grande
    multinazionale del fitness, la Virgin Active.
  </p>
  <p class="dark-grey-text text-justify">
    In quello stesso anno ho conosciuto Viviana, futura madre dei miei due bambini, Alessandro e
    Beatrice. Un giorno, nel 2014 fù proprio lei a propormi di fare una lezione di CrossFit, dove
    ritrovai quella magia che anni prima mi fece innamorare del pugilato.
  </p>
  <p class="dark-grey-text text-justify">
    Rimasi talmente estasiato che dalla sera stessa iniziai a documentarmi su tutto ciò che era il
    CrossFit. Mi resi conto che il mio pensiero e la metodologia e filosofia d’allenamento applicate
    a questo sport si sposavano a 360 gradi, così nel Gennaio 2015 conseguii il CrossFit Level I.
  </p>
  <p class="dark-grey-text text-justify">
    Da lì in poi iniziai a lavorare per vari box di Roma come coach, ed in palestra come Personal
    Trainer. Presi parte a varie competizioni Nazionali di CrossFit e continuai a formarmi sempre
    di più, iscrivendomi anche alla facoltà di Scienze Motorie.
  </p>
  <p class="dark-grey-text text-justify">
    Dopo aver allenato centinaia di persone, tra atleti agonisti e persone che vogliono
    semplicemente mettersi in forma, nell’estate 2018 decisi di terminare la collaborazione con
    Virgin Active ed aprire il mio primo box, CrossFit Torrevecchia.
  </p>
</section>

<img *ngIf="isMobile" class="col-xl-4 col-md-4 mb-3 text-center align-self-center hoverable" src="../../../assets/chi_sono1.jpg"
     alt="AboutMe">

