.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.fill img {
  flex-shrink: 0;
  width: 100%;
  min-height: 100%
}

.blackFont {
  color: black !important;
  font-weight: bold;
}

.topMargin {
  margin-top: 50px;
}

.bottomMargin {
  margin-bottom: 15px;
}

b {
  font-weight: 900;
}

hr {
  border-width: 5px;
}

/*main {
  padding-top: 40px;
}*/

.centerForMobile {
  text-align: center;
  font-family: EmanueleCaloisi, serif;
  margin-top: 110px;
}

@media screen and (max-width: 600px) {
  #coverImg {
    background-attachment: scroll;
  }
}

pre {
  font-family: Calibri, serif
}

.titleSection {
  font-family: Stencil, sans-serif;
}

.logo-style {
  //height: 20%;
  width: 10rem
}

a {
  font-family: Arial, serif;
}

.redGradient {
  background: linear-gradient(to right, #FFFFFF, #EF3B36);
}

/*#logoImg {
  content: url(../assets/logo.png);
}*/

#coverImg {
  background: url(../assets/cover_image.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*#chiSonoImg {
  content: url(../assets/chi_sono1.jpg);
}

#mattImg {
  content: url(../assets/Recensioni/mattPhoto.jpg);
}

#giovImg {
  content: url(../assets/Recensioni/giovPhoto.jpg);
}

#pinaImg {
  content: url(../assets/Recensioni/pinaPhoto.jpg);
}

#gennImg {
  content: url(../assets/Recensioni/gennPhoto.jpg);
}

#martImg {
  content: url(../assets/Recensioni/martPhoto.jpg);
}

#daniImg {
  content: url(../assets/Recensioni/daniPhoto.jpg);
}

#imgCarousel1 {
  content: url(../assets/Carousel/imgCarousel1.jpg);
  width: 100%;
}

#imgCarousel2 {
  content: url(../assets/Carousel/imgCarousel2.JPG);
  width: 100%;
}

#imgCarousel3 {
  content: url(../assets/Carousel/imgCarousel3.jpg);
  width: 100%;
}

#imgCarousel4 {
  content: url(../assets/Carousel/imgCarousel4.JPG);
  width: 100%;
}

#imgCarousel5 {
  content: url(../assets/Carousel/imgCarousel5.jpg);
  width: 100%;
}*/

/* Deccommentare per impostare massima altezza a foto carousel
mdb-carousel-item {
  max-height: 400px;
}
*/

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 7px;
}

////////////////// CSS PER SEZIONE RELATIVA AI PREZZI //////////////////

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.pricing4 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.pricing4 h1,
.pricing4 h2,
.pricing4 h3,
.pricing4 h4,
.pricing4 h5,
.pricing4 h6 {
  color: #3e4555;
}

.pricing4 .font-weight-medium {
  font-weight: 500;
}

.pricing4 .bg-light {
  background-color: #f4f8fa !important;
}

.pricing4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.pricing4 .font-14 {
  font-size: 14px;
}

.pricing4 .font-13 {
  font-size: 13px;
}

.pricing4 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.pricing4 .text-success {
  color: #2cdd9b !important;
}

.pricing4 .price small {
  color: #8d97ad;
  font-size: 16px;
}

.pricing4 h5 {
  line-height: 22px;
  font-size: 18px;
}

.pricing4 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.pricing4 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

.pricing4 .btn-md {
  padding: 10px 25px;
  font-size: 16px;
}

////////////////// FINE CSS PER SEZIONE RELATIVA AI PREZZI //////////////////
