<!-- Header -->
<header>

  <!--Navbar-->
  <mdb-navbar #navbarid SideClass="navbar navbar-expand-lg navbar-dark fixed-top" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
        <div class="logo-style" id="logoImg"></div>
      </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links (click)="onClick()">

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="home"></mdb-icon>-->
            HOME</a>
        </li>
        <li class="nav-item">
          <a href="#chiSono" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="user"></mdb-icon>-->
            CHI SONO</a>
        </li>
        <li class="nav-item">
          <a href="#metodo" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="brain"></mdb-icon>-->
            IL PRGORAMMA</a>
        </li>
        <li class="nav-item">
          <a href="#recensioni" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="clipboard-list"></mdb-icon>-->
            RECENSIONI</a>
        </li>
        <li class="nav-item">
          <a href="#prezzi" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="dollar-sign"></mdb-icon>-->
            PREZZI</a>
        </li>
        <li class="nav-item">
          <a href="#contatti" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="envelope"></mdb-icon>-->
            CONTATTI</a>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!-- Navbar -->

  <!--Mask-->
  <div id="coverImg" class="view">
    <div class="mask flex-center rgba-black-light">
      <div class="wow fadeInDown animated" data-wow-delay="0.2s"
           style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.2s;">
        <h1 class="white-text display-5 font-weight-bold centerForMobile">
          EMANUELE CALOISI
        </h1>
      </div>
    </div>
  </div>
  <!-- Mask -->

</header>
<!-- Header -->

<!-- Main -->
<main>

  <div class="container topMargin">
    <div class="row">
      <div class="col">
        <section id="chiSono">
          <hr>
          <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Chi Sono</h2>
          <hr>
          <p class="dark-grey-text text-justify">
            Sono <b>Emanuele Caloisi</b>, nato a Roma classe 1987,
            Il mio amore per lo sport nasce sin da piccolo avendone praticati dai più disparati, dal nuoto al calcio
            passando per il karate, dando sempre dei buoni risultati agonistici. Nel 2001 entrai in una palestra di
            pugilato rimanendone folgorato, sudore, sacrificio e voglia di mettermi in gioco era ciò che mi appassionava
            e che mi
            rendeva felice. La mia dedizione verso quello sport cresceva giorno per giorno, dando un senso alla mia
            iperattività e tirando fuori il meglio di me stesso!
          </p>
          <p class="dark-grey-text text-justify">
            Tutto questo venne improvvisamente interrotto nel 2008 da un brutto infortunio alla schiena che ha fatto sì
            che la mia strada ed il pugilato si interrompessero bloccandomi alcuni mesi dagli allenamenti e mentre ero
            impegnato alla mia riatletizzazione in palestra, la mia attenzione si spostò verso una nuova disciplina che
            in Italia si stava evolvendo proprio in quegli anni, le arti marziali miste.
          </p>
          <p class="dark-grey-text text-justify">
            Nel 2009 partecipai ad un camp dove il Brazilian Jiu Jitsu, disciplina che praticai per circa un anno,
            scoprendo anche la bellezza della preparazione atletica dei fighter (metodologia molto simile al CrossFit,
            sport
            ancora quasi sconosciuto in Italia) fino a che nel 2012 non fui costretto a fermarmi del tutto con gli sport
            da
            combattimento per colpa di un intervento maxillo-facciale.
          </p>
          <p class="dark-grey-text text-justify">
            In quell’anno bruttissimo, come un’illuminazione, compresi che avrei dovuto far sì che la mia passione
            diventasse qualcosa di più, mi iscrissi alla ISSA dove mi diplomai nel 2013 e dopo una costante formazione
            che dura
            ancora ad oggi e che non si fermerà mai, decisi di licenziarmi da un fantastico posto di lavoro come agente
            di
            commercio per una nota multinazionale, con contratto a tempo indeterminato in più numerosi benefit e
            buttarmi in una nuova
            avventura offerta da una grande multinazionale del fitness, la Virgin Active.
          </p>
          <p class="dark-grey-text text-justify">
            Lo stesso anno ho conosciuto Viviana, futura madre dei miei due bambini, Alessandro e Beatrice, la quale un
            giorno, nel 2014 mi propose di andare a fare una lezione di prova di CrossFit, dove ritrovai quella magia
            che anni prima mi fece innamorare del pugilato.
          </p>
          <p class="dark-grey-text text-justify">
            Dalla sera stessa iniziai a documentarmi su tutto ciò che era il CrossFit, cominciai a sposare a 360 gradi
            tutta la metodologia e filosofia d’allenamento fino a che nel gennaio 2015 non conseguii il Level 1.
          </p>
          <p class="dark-grey-text text-justify">
            Da lì in poi iniziai a lavorare per vari box Romani come coach e in palestra come Personal Trainer, a
            prendere parte alle varie competizioni Nazionali di CrossFit e a formarmi sempre di più iscrivendomi anche
            alla
            facoltà di Scienze Motorie.
          </p>
          <p class="dark-grey-text text-justify">
            Dopo aver allenato centinaia di persone, atleti agonisti ma anche persone che vogliono semplicemente
            mettersi in forma, nell’estate 2018 decisi di
            terminare la collaborazione con Virgin Active e aprire il mio primo box, CrossFit Torrevecchia.
          </p>
        </section>
      </div>

      <div class="col-xl-4 col-md-4 mb-3 text-center align-self-center hoverable" id="chiSonoImg"></div>

    </div>

    <div class="row">
      <div class="col">
        <section style="padding-top: 40px; margin-top: -40px;" id="metodo">
          <hr>
          <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Il Programma</h2>
          <hr>
          <p class="dark-grey-text text-justify">
            Respiro sport da tutta la mia vita, ne ho fatto una professione che negli anni mi ha dato la possibilità di
            aiutare moltissime persone a raggiungere i propri obiettivi, sia per amatori che agonisti.
          </p>
          <p class="dark-grey-text text-justify">
            La mia mission è offrirti un programma che sia il più personalizzato possibile per le tue esigenze,
            obiettivi e che sia cucito su te stesso in base ai tuoi orari, attrezzatura e stile di allenamento.
          </p>
          <p class="dark-grey-text text-justify">
            Negli anni ho avuto la fortuna di collaborare con un team di professionisti che, laddove sia necessario,
            mi supportano in questo programma, quali ad es. fisioterapista e nutrizionista.
          </p>
          <p class="dark-grey-text text-justify">
            Il mio programma è per tutti e per tutte le età, che tu sia un agonista, un businessman, una casalinga
            o semplicemente una persona che vuole rimettersi in forma!
          </p>
          <p class="dark-grey-text text-justify">
            Sono felice di poterti aiutare a raggiungere i tuoi obiettivi!
          </p>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <section style="padding-top: 40px; margin-top: -40px;" id="ilbox">
          <hr>
          <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Il Box</h2>
          <hr>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <section style="padding-top: 40px; margin-top: -40px;" id="recensioni">
          <hr>
          <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Recensioni</h2>
          <hr>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <section style="padding-top: 40px; margin-top: -40px;" id="prezzi">
          <hr>
          <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Prezzi</h2>
          <hr>

          <!--<div class="row">
            <div class="col">
              <div class="card">
                <div>Programma 1 mese</div>
                <div class="card-body">
                  <h4 class="card-title"><a>Card title</a></h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <div>Programma 3 mesi</div>
                <div class="card-body">
                  <h4 class="card-title"><a>Card title</a></h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <div>Programma 3 mesi</div>
                <div class="card-body">
                  <h4 class="card-title"><a>Card title</a></h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>-->

          <!--Section: Pricing v.2-->
          <section class="pb-3">
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card -->
                <div class="card card-image">

                  <!--Pricing card-->
                  <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3">

                    <!--Content-->
                    <div class="card-body">
                      <h5>Piano Allenamento</h5>
                      <!--Price-->
                      <div class="price pt-0">
                        <h1>1 mese</h1>
                      </div>
                      <!--Price-->
                      <ul class="striped">
                        <li>
                          <p><strong>Programma Allenamento</strong></p>
                        </li>
                        <li>
                          <p><strong>Consulenza</strong></p>
                        </li>
                        <li>
                          <p><strong>Check Mensile</strong></p>
                        </li>
                      </ul>
                      <a class="btn btn-outline-white">Contattaci</a>
                    </div>

                  </div>
                  <!--Pricing card-->
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card -->
                <div class="card card-image">

                  <!--Pricing card-->
                  <div class="text-white text-center pricing-card d-flex align-items-center rgba-indigo-strong py-3 px-3">

                    <!--Content-->
                    <div class="card-body">
                      <h5>Piano Allenamento</h5>
                      <!--Price-->
                      <div class="price pt-0">
                        <h1>3 Mesi</h1>
                      </div>
                      <!--Price-->
                      <ul class="striped">
                        <li>
                          <p><strong>Programma Allenamento</strong></p>
                        </li>
                        <li>
                          <p><strong>Consulenza</strong></p>
                        </li>
                        <li>
                          <p><strong>Check Mensile</strong></p>
                        </li>
                      </ul>
                      <a class="btn btn-outline-white">Contattaci</a>
                    </div>

                  </div>
                  <!--Pricing card-->
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card -->
                <div class="card card-image">

                  <!--Pricing card-->
                  <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3">

                    <!--Content-->
                    <div class="card-body">
                      <h5>Piano Allenamento</h5>
                      <!--Price-->
                      <div class="price pt-0">
                        <h1>6 Mesi</h1>
                      </div>
                      <!--Price-->
                      <ul class="striped">
                        <li>
                          <p><strong>Programma Allenamento</strong></p>
                        </li>
                        <li>
                          <p><strong>Consulenza</strong></p>
                        </li>
                        <li>
                          <p><strong>Check Mensile</strong></p>
                        </li>
                      </ul>
                      <a class="btn btn-outline-white">Contattaci</a>
                    </div>

                  </div>
                  <!--Pricing card-->
                </div>
              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

          </section>
          <!--Section: Pricing v.2-->

          <!--Section: Pricing v.2-->
          <section class="pb-3">
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card -->
                <div class="card card-image">

                  <!--Pricing card-->
                  <div class="text-white text-center pricing-card d-flex align-items-center rgba-indigo-strong py-3 px-3">

                    <!--Content-->
                    <div class="card-body">
                      <h5>Piano Allenamento + Nutrizionista</h5>
                      <!--Price-->
                      <div class="price pt-0">
                        <h1>1 mese</h1>
                      </div>
                      <!--Price-->
                      <ul class="striped">
                        <li>
                          <p><strong>Piano Nutrizionale*</strong></p>
                        </li>
                        <li>
                          <p><strong>Programma Allenamento</strong></p>
                        </li>
                        <li>
                          <p><strong>Consulenza</strong></p>
                        </li>
                        <li>
                          <p><strong>Check Mensile</strong></p>
                        </li>
                      </ul>
                      <a class="btn btn-outline-white">Contattaci</a>
                      <p class="text-small mb-0 pt-3 text-white">*Servizio in collaborazione con Chiara Carboni</p>
                    </div>

                  </div>
                  <!--Pricing card-->
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card -->
                <div class="card card-image">

                  <!--Pricing card-->
                  <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3">

                    <!--Content-->
                    <div class="card-body">
                      <h5>Piano Allenamento + Nutrizione</h5>
                      <!--Price-->
                      <div class="price pt-0">
                        <h1>3 Mesi</h1>
                      </div>
                      <!--Price-->
                      <ul class="striped">
                        <li>
                          <p><strong>Piano Nutrizionale*</strong></p>
                        </li>
                        <li>
                          <p><strong>Programma Allenamento</strong></p>
                        </li>
                        <li>
                          <p><strong>Consulenza</strong></p>
                        </li>
                        <li>
                          <p><strong>Check Mensile</strong></p>
                        </li>
                      </ul>
                      <a class="btn btn-outline-white">Contattaci</a>
                      <p class="text-small mb-0 pt-3 text-white">*Servizio in collaborazione con Chiara Carboni</p>
                    </div>

                  </div>
                  <!--Pricing card-->
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card -->
                <div class="card card-image">

                  <!--Pricing card-->
                  <div class="text-white text-center pricing-card d-flex align-items-center rgba-indigo-strong py-3 px-3">

                    <!--Content-->
                    <div class="card-body">
                      <h5>Piano Allenamento + Nutrizionista</h5>
                      <!--Price-->
                      <div class="price pt-0">
                        <h1>6 Mesi</h1>
                      </div>
                      <!--Price-->
                      <ul class="striped">
                        <li>
                          <p><strong>Piano Nutrizionale*</strong></p>
                        </li>
                        <li>
                          <p><strong>Programma Allenamento</strong></p>
                        </li>
                        <li>
                          <p><strong>Consulenza</strong></p>
                        </li>
                        <li>
                          <p><strong>Check Mensile</strong></p>
                        </li>
                      </ul>
                      <a class="btn btn-outline-white">Contattaci</a>
                      <p class="text-small mb-0 pt-3 text-white">*Servizio in collaborazione con Chiara Carboni</p>
                    </div>

                  </div>
                  <!--Pricing card-->
                </div>
              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

          </section>
          <!--Section: Pricing v.2-->
        </section>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <section style="padding-top: 40px; margin-top: -40px;" id="contatti">
          <hr>
          <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Contatti</h2>
          <hr>

          <div class="row">
            <div class="col"></div>
            <div class="col">
              <pre class="dark-grey-text text-justify">
                Il nostro sito:

                <a href="http://www.emanuelecaloisi.it"><b>www.emanuelecaloisi.it</b></a>

                La nostra email:

                <a href="mailto:info@emanuelecaloisi.it"><b>info@emanuelecaloisi.it</b></a>
              </pre>
            </div>
            <div class="col"></div>
          </div>
        </section>
      </div>
    </div>

  </div>

</main>
<!-- Main -->

<!-- Footer -->
<footer class="page-footer font-small cyan redGradient">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/emanuele.caloisi">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/emanuelecaloisi/?hl=it">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Whatsapp-->
          <a class="wha-ic" href="https://wa.me/393293671498">
            <i class="fab fa-whatsapp fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 blackFont">Emanuele Caloisi - Partita IVA:
    13435071009
    <a class="blackFont" href="https://mdbootstrap.com/"> www.emanuelecaloisi.it </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
