.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.fill img {
  flex-shrink: 0;
  width: 100%;
  min-height: 100%
}

.blackFont {
  color: black !important;
  font-weight: bold;
}

.topMargin {
  margin-top: 50px;
}

.bottomMargin {
  margin-bottom: 15px;
}

/*main {
  padding-top: 40px;
}*/

.centerForMobile {
  text-align: center;
  font-family: EmanueleCaloisi, serif;
  margin-top: 110px;
}

@media screen and (max-width: 600px) {
  #coverImg {
    background-attachment: scroll;
  }
}

.logo-style {
  //height: 20%;
  width: 10rem
}

.redGradient {
  background: linear-gradient(to right, #FFFFFF, #EF3B36);
}

#coverImg {
  background: url(../assets/cover_image.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Deccommentare per impostare massima altezza a foto carousel
mdb-carousel-item {
  max-height: 400px;
}
*/

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 7px;
}

.mb-0 > a:after {
  float: right !important;
  font-family: FontAwesome, serif;
  content: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%234e555c%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E");
  padding-right: 5px;
}

.mb-0 > a.collapsed:after {
  float: right !important;
  content: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%234e555c%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%234e555c%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E");
}

.mb-0 > a:hover,
.mb-0 > a:active,
.mb-0 > a:focus {
  text-decoration: none;
}

.mb-0 > a {
  display: flex;
  justify-content: space-between;

}

.mb-0 {
  margin: 0 !important;
}

.btn-link {
  font-size: 18px;
}

.btn-link:hover {
  color: #718599 !important;
  text-decoration: none !important;;
  outline: 0 !important;;
}

.btn-link:visited {
  display: block !important;;
  font-size: 18px !important;;
  line-height: 1.4 !important;;
  color: #28333e !important;;
  padding: 0 0 !important;;
  background: 0 0 !important;;
  overflow: hidden !important;;
  letter-spacing: 0 !important;;
}

.btn-link:focus {
  color: #718599 !important;;
  text-decoration: none !important;;
  outline: 0 !important;;
}

