<!-- Header -->
<header>

  <!--Navbar-->
  <mdb-navbar #navbarid SideClass="navbar navbar-expand-lg navbar-dark fixed-top" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
        <div class="logo-style" id="logoImg"></div>
      </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links (click)="onClick()">

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="home"></mdb-icon>-->
            HOME</a>
        </li>
        <li class="nav-item">
          <a (click)="scrollTo('chiSono')" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="user"></mdb-icon>-->
            CHI SONO</a>
        </li>
        <li class="nav-item">
          <a (click)="scrollTo('formazione')" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="user"></mdb-icon>-->
            FORMAZIONE</a>
        </li>
        <li class="nav-item">
          <a (click)="scrollTo('metodo')" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="brain"></mdb-icon>-->
            IL PROGRAMMA</a>
        </li>
        <li class="nav-item">
          <a (click)="scrollTo('recensioni')" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="clipboard-list"></mdb-icon>-->
            RECENSIONI</a>
        </li>
        <li class="nav-item">
          <a (click)="scrollTo('prezzi')" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="dollar-sign"></mdb-icon>-->
            PRENOTA</a>
        </li>
        <li class="nav-item">
          <a (click)="scrollTo('news')" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="envelope"></mdb-icon>-->
            NEWS</a>
        </li>
        <li class="nav-item">
          <a (click)="scrollTo('contatti')" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="envelope"></mdb-icon>-->
            CONTATTI</a>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!-- Navbar -->

  <!--Mask-->
  <div id="coverImg" class="view">
    <div class="mask flex-center rgba-black-light">
      <div class="wow fadeInDown animated" data-wow-delay="0.2s"
           style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.2s;">
        <h1 class="white-text display-5 font-weight-bold centerForMobile">
          EMANUELE CALOISI
        </h1>
      </div>
    </div>
  </div>
  <!-- Mask -->

</header>
<!-- Header -->

<!-- Main -->
<main>

  <div class="container topMargin">
    <div class="row">
      <div class="col">
        <app-about-me></app-about-me>
      </div>

      <img *ngIf="!isMobile" class="col-xl-4 col-md-4 mb-3 text-center align-self-center hoverable"
           id="chiSonoImg"
           alt="AboutMe">
    </div>

    <div class="row">
      <div class="col">
        <app-formazione></app-formazione>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-metodo></app-metodo>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-facebook-reviews></app-facebook-reviews>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col">
        <app-prezzi></app-prezzi>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-news></app-news>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-contatti></app-contatti>
      </div>
    </div>

  </div>

</main>
<!-- Main -->

<!-- Footer -->
<footer class="page-footer font-small cyan redGradient">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/emanuele.caloisi">
            <i class="fab fa-facebook-square fa-lg blue-text mr-md-5 mr-3 fa-3x"></i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/emanuele.caloisi/?hl=it">
            <i class="fab fa-instagram-square fa-lg pink-text mr-md-5 mr-3 fa-3x"> </i>
          </a>
          <!--Whatsapp-->
          <a class="wha-ic" href="https://wa.me/393293671498">
            <i class="fab fa-whatsapp-square fa-lg green-text fa-3x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 blackFont">Emanuele Caloisi - Partita IVA:
    13435071009 -
    <a class="blackFont" href="https://www.emanuelecaloisi.it/"> www.emanuelecaloisi.it </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
