<!-- Header -->
<header>

  <!--Navbar-->
  <mdb-navbar #navbarid SideClass="navbar navbar-expand-lg navbar-dark fixed-top" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
        <div class="logo-style" id="logoImg"></div>
      </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links (click)="onClick()">

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="home"></mdb-icon>-->
            HOME</a>
        </li>
        <li class="nav-item">
          <a href="#chiSono" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="user"></mdb-icon>-->
            CHI SONO</a>
        </li>
        <li class="nav-item">
          <a href="#metodo" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="brain"></mdb-icon>-->
            IL PROGRAMMA</a>
        </li>
        <li class="nav-item">
          <a href="#recensioni" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="clipboard-list"></mdb-icon>-->
            RECENSIONI</a>
        </li>
        <li class="nav-item">
          <a href="#prezzi" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="dollar-sign"></mdb-icon>-->
            PREZZI</a>
        </li>
        <li class="nav-item">
          <a href="#news" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="envelope"></mdb-icon>-->
            NEWS</a>
        </li>
        <li class="nav-item">
          <a href="#contatti" class="nav-link waves-light blackFont" mdbWavesEffect>
            <!--<mdb-icon fas icon="envelope"></mdb-icon>-->
            CONTATTI</a>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!-- Navbar -->

  <!--Mask-->
  <div id="coverImg" class="view">
    <div class="mask flex-center rgba-black-light">
      <div class="wow fadeInDown animated" data-wow-delay="0.2s"
           style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.2s;">
        <h1 class="white-text display-5 font-weight-bold centerForMobile">
          EMANUELE CALOISI
        </h1>
      </div>
    </div>
  </div>
  <!-- Mask -->

</header>
<!-- Header -->

<!-- Main -->
<main>

  <div class="container topMargin">
    <div class="row">
      <div class="col">
        <section id="chiSono">
          <hr>
          <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Chi Sono</h2>
          <hr>
          <p class="dark-grey-text text-justify">
            Sono <b>Emanuele Caloisi</b>, nato a Roma classe 1987,
            Il mio amore per lo sport nasce sin da piccolo avendone praticati dai più disparati, dal nuoto al calcio
            passando per il karate, dando sempre dei buoni risultati agonistici. Nel 2001 entrai in una palestra di
            pugilato rimanendone folgorato, sudore, sacrificio e voglia di mettermi in gioco era ciò che mi appassionava
            e che mi
            rendeva felice. La mia dedizione verso quello sport cresceva giorno per giorno, dando un senso alla mia
            iperattività e tirando fuori il meglio di me stesso!
          </p>
          <p class="dark-grey-text text-justify">
            Tutto questo venne improvvisamente interrotto nel 2008 da un brutto infortunio alla schiena che ha fatto sì
            che la mia strada ed il pugilato si interrompessero bloccandomi alcuni mesi dagli allenamenti e mentre ero
            impegnato alla mia riatletizzazione in palestra, la mia attenzione si spostò verso una nuova disciplina che
            in Italia si stava evolvendo proprio in quegli anni, le arti marziali miste.
          </p>
          <p class="dark-grey-text text-justify">
            Nel 2009 partecipai ad un camp dove il Brazilian Jiu Jitsu, disciplina che praticai per circa un anno,
            scoprendo anche la bellezza della preparazione atletica dei fighter (metodologia molto simile al CrossFit,
            sport
            ancora quasi sconosciuto in Italia) fino a che nel 2012 non fui costretto a fermarmi del tutto con gli sport
            da
            combattimento per colpa di un intervento maxillo-facciale.
          </p>
          <p class="dark-grey-text text-justify">
            In quell’anno bruttissimo, come un’illuminazione, compresi che avrei dovuto far sì che la mia passione
            diventasse qualcosa di più, mi iscrissi alla ISSA dove mi diplomai nel 2013 e dopo una costante formazione
            che dura
            ancora ad oggi e che non si fermerà mai, decisi di licenziarmi da un fantastico posto di lavoro come agente
            di
            commercio per una nota multinazionale, con contratto a tempo indeterminato in più numerosi benefit e
            buttarmi in una nuova
            avventura offerta da una grande multinazionale del fitness, la Virgin Active.
          </p>
          <p class="dark-grey-text text-justify">
            Lo stesso anno ho conosciuto Viviana, futura madre dei miei due bambini, Alessandro e Beatrice, la quale un
            giorno, nel 2014 mi propose di andare a fare una lezione di prova di CrossFit, dove ritrovai quella magia
            che anni prima mi fece innamorare del pugilato.
          </p>
          <p class="dark-grey-text text-justify">
            Dalla sera stessa iniziai a documentarmi su tutto ciò che era il CrossFit, cominciai a sposare a 360 gradi
            tutta la metodologia e filosofia d’allenamento fino a che nel gennaio 2015 non conseguii il Level 1.
          </p>
          <p class="dark-grey-text text-justify">
            Da lì in poi iniziai a lavorare per vari box Romani come coach e in palestra come Personal Trainer, a
            prendere parte alle varie competizioni Nazionali di CrossFit e a formarmi sempre di più iscrivendomi anche
            alla
            facoltà di Scienze Motorie.
          </p>
          <p class="dark-grey-text text-justify">
            Dopo aver allenato centinaia di persone, atleti agonisti ma anche persone che vogliono semplicemente
            mettersi in forma, nell’estate 2018 decisi di
            terminare la collaborazione con Virgin Active e aprire il mio primo box, CrossFit Torrevecchia.
          </p>
        </section>
      </div>

      <div class="col-xl-4 col-md-4 mb-3 text-center align-self-center hoverable" id="chiSonoImg"></div>

    </div>

    <div class="row">
      <div class="col">
        <section style="padding-top: 40px; margin-top: -40px;" id="metodo">
          <hr>
          <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Il Programma</h2>
          <hr>
          <p class="dark-grey-text text-justify">
            Respiro sport da tutta la mia vita, ne ho fatto una professione che negli anni mi ha dato la possibilità di
            aiutare moltissime persone a raggiungere i propri obiettivi, sia per amatori che agonisti.
          </p>
          <p class="dark-grey-text text-justify">
            La mia mission è offrirti un programma che sia il più personalizzato possibile per le tue esigenze,
            obiettivi e che sia cucito su te stesso in base ai tuoi orari, attrezzatura e stile di allenamento.
          </p>
          <p class="dark-grey-text text-justify">
            Negli anni ho avuto la fortuna di collaborare con un team di professionisti che, laddove sia necessario,
            mi supportano in questo programma, quali ad es. fisioterapista e nutrizionista.
          </p>
          <p class="dark-grey-text text-justify">
            Il mio programma è per tutti e per tutte le età, che tu sia un agonista, un businessman, una casalinga
            o semplicemente una persona che vuole rimettersi in forma!
          </p>
          <p class="dark-grey-text text-justify">
            Sono felice di poterti aiutare a raggiungere i tuoi obiettivi!
          </p>
        </section>
        <br>

        <mdb-carousel [animation]="'slide'" [interval]="false">
          <mdb-carousel-item>
            <div class="d-block w-100" id="imgCarousel2"></div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="d-block w-100" id="imgCarousel3"></div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="d-block w-100" id="imgCarousel4"></div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="d-block w-100" id="imgCarousel5"></div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="d-block w-100" id="imgCarousel1"></div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <section style="padding-top: 40px; margin-top: -40px;" id="recensioni">
          <hr>
          <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Recensioni</h2>
          <hr>

          <div class="row">
            <div class="col">
              <!-- Card -->
              <div class="card testimonial-card">
                <!-- Background color -->
                <div class="card-up indigo lighten-1"></div>
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                  <div class="avatar rounded-circle" id="mattImg"></div>
                </div>
                <!-- Content -->
                <div class="card-body">
                  <!-- Name -->
                  <h4 class="card-title">Matteo</h4>
                  <hr>
                  <!-- Quotation -->
                  <p><i class="fas fa-quote-left"></i> Coach estremamente competente e coinvolgente! Sempre un piacere
                    partecipare alle sue lezioni e frequentare il suo box!
                  </p>

                  <div class="fill">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/matteo.mammucari.12/posts/10218002405873875"
                       class="px-2 fa-lg fb-ic"><i class="fab fa-facebook" mdbTooltip="Vedi su facebook"></i></a>
                  </div>
                </div>
              </div>
              <!-- Card -->
            </div>

            <div class="col">
              <!-- Card -->
              <div class="card testimonial-card">
                <!-- Background color -->
                <div class="card-up indigo lighten-1"></div>
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                  <div class="avatar rounded-circle" id="giovImg"></div>
                </div>
                <!-- Content -->
                <div class="card-body">
                  <!-- Name -->
                  <h4 class="card-title">Giovanni</h4>
                  <hr>
                  <!-- Quotation -->
                  <p><i class="fas fa-quote-left"></i> Grande persona! Le sue lezioni sono un mix perfetto di
                    competenza, serietà e professionalità con una giusta dose di ironia e ilarità.
                    Se vuoi superare i tuoi limiti il coach Caloisi é quello che fa per te.
                  </p>

                  <div class="fill">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/giovanni.scalese.716/posts/10223085674800000"
                       class="px-2 fa-lg fb-ic"><i class="fab fa-facebook" mdbTooltip="Vedi su facebook"></i></a>
                  </div>
                </div>
              </div>
              <!-- Card -->
            </div>

            <div class="col">
              <!-- Card -->
              <div class="card testimonial-card">
                <!-- Background color -->
                <div class="card-up indigo lighten-1"></div>
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                  <div class="avatar rounded-circle" id="gennImg"></div>
                </div>
                <!-- Content -->
                <div class="card-body">
                  <!-- Name -->
                  <h4 class="card-title">Gennaro</h4>
                  <hr>
                  <!-- Quotation -->
                  <p><i class="fas fa-quote-left"></i> Persona onesta, preparata, ama il suo lavoro. Mi ha cambiato in 2
                    mesi il fisico, la mentalità. Straconsigliato! Complimenti Emanuele!
                  </p>
                  <div class="fill">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/GennySaraino/posts/10223365290943287" class="px-2 fa-lg fb-ic"><i
                      class="fab fa-facebook" mdbTooltip="Vedi su facebook"></i></a>
                  </div>
                </div>
              </div>
              <!-- Card -->
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
              <!-- Card -->
              <div class="card testimonial-card">
                <!-- Background color -->
                <div class="card-up indigo lighten-1"></div>
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                  <div class="avatar rounded-circle" id="pinaImg"></div>
                </div>
                <!-- Content -->
                <div class="card-body">
                  <!-- Name -->
                  <h4 class="card-title">Pina</h4>
                  <hr>
                  <!-- Quotation -->
                  <p><i class="fas fa-quote-left"></i> Coach Ema ha creduto in me più di quanto lo abbia fatto io
                    stessa. Mi spinge sempre a dare il massimo e a crederci un po’ di più. Sto risolvendo i miei
                    problemi di mobilità al fine di raggiungere i miei obiettivi. Unico e irripetibile, burlone ma
                    attento, severo ma giusto! Semplicemente Ema! #daje
                  </p>

                  <div class="fill">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/pina.spacone/posts/3593181290701602" class="px-2 fa-lg fb-ic"><i
                      class="fab fa-facebook" mdbTooltip="Vedi su facebook"></i></a>
                  </div>
                </div>
              </div>
              <!-- Card -->
            </div>

            <div class="col">
              <!-- Card -->
              <div class="card testimonial-card">
                <!-- Background color -->
                <div class="card-up indigo lighten-1"></div>
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                  <div class="avatar rounded-circle" id="martImg"></div>
                </div>
                <!-- Content -->
                <div class="card-body">
                  <!-- Name -->
                  <h4 class="card-title">Martina</h4>
                  <hr>
                  <!-- Quotation -->
                  <p><i class="fas fa-quote-left"></i> Un super coach!!!
                    È un mix di talento, passione, preparazione e professionalità!
                    Sto imparando cose che mai avrei pensato di poter apprendere! Mi sta aiutando a superare limiti che
                    credevo impossibile poter affrontare!
                    Lo consiglierei altre 100 volte!
                  </p>

                  <div class="fill">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/martina.passaretti.3/posts/10157894406267893"
                       class="px-2 fa-lg fb-ic"><i class="fab fa-facebook" mdbTooltip="Vedi su facebook"></i></a>
                  </div>
                </div>
              </div>
              <!-- Card -->
            </div>

            <div class="col">
              <!-- Card -->
              <div class="card testimonial-card">
                <!-- Background color -->
                <div class="card-up indigo lighten-1"></div>
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                  <div class="avatar rounded-circle" id="daniImg"></div>
                </div>
                <!-- Content -->
                <div class="card-body">
                  <!-- Name -->
                  <h4 class="card-title">Daniele</h4>
                  <hr>
                  <!-- Quotation -->
                  <p><i class="fas fa-quote-left"></i> Pratico il crossfit da qualche anno ed ero arrivato ad un punto
                    in cui non riuscivo a superare alcuni ostacoli su movimenti e pesi. Ho incontrato Emanuele e devo
                    dire che con la sua professionalità, passione, preparazione e pazienza sto superando me stesso e gli
                    allenamenti vanno verso un livello superiore...ed allenamento a parte è sempre sorridente e pronto a
                    darti consigli. Grande persona!!!
                  </p>

                  <div class="fill">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/daniele.cufari.7/posts/10223895035629688"
                       class="px-2 fa-lg fb-ic"><i class="fab fa-facebook" mdbTooltip="Vedi su facebook"></i></a>
                  </div>
                </div>
              </div>
              <!-- Card -->
            </div>
          </div>
        </section>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col">
        <section style="padding-top: 40px; margin-top: -40px;" id="prezzi">
          <hr>
          <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Prezzi</h2>
          <hr>

          <div class="pricing4 py-5 bg-light">
            <div class="container">
              <div class="row mt-4">
                <!-- Column -->
                <div class="col-md-4">
                  <div class="card card-shadow border-0 mb-4">
                    <div class="p-3">
                      <h5 class="font-weight-medium mb-0">Piano Allenamento - 1 Mese</h5>
                      <ul class="list-inline font-14 mt-3">
                        <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>
                      </ul>
                      <div class="d-flex mt-3 align-items-center">
                        <h2 class="price">70€</h2>
                        <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"
                                                href="mailto:info@emanuelecaloisi.it">Contattami</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Column -->
                <div class="col-md-4">
                  <div class="card card-shadow border-0 mb-4">
                    <div class="p-3">
                      <h5 class="font-weight-medium mb-0">Piano Allenamento - 3 Mesi</h5>
                      <ul class="list-inline font-14 mt-3">
                        <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>
                      </ul>
                      <div class="d-flex mt-3 align-items-center">
                        <h2 class="price">180€</h2>
                        <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"
                                                href="mailto:info@emanuelecaloisi.it">Contattami</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Column -->
                <div class="col-md-4">
                  <div class="card card-shadow border-0 mb-4">
                    <div class="p-3">
                      <h5 class="font-weight-medium mb-0">Piano Allenamento - 6 Mesi</h5>
                      <ul class="list-inline font-14 mt-3">
                        <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>
                      </ul>
                      <div class="d-flex mt-3 align-items-center">
                        <h2 class="price">300€</h2>
                        <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"
                                                href="mailto:info@emanuelecaloisi.it">Contattami</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-4">
                <!-- Column -->
                <div class="col-md-4">
                  <div class="card card-shadow border-0 mb-4">
                    <div class="p-3">
                      <h5 class="font-weight-medium mb-0">Piano Allenamento + Nutrizionista* - 1 Mese</h5>
                      <h6 class="subtitle font-13">*Servizio in collaborazione con Chiara Carboni</h6>
                      <ul class="list-inline font-14 mt-3">
                        <li class="py-1"><i class="icon-check text-success"></i> Piano Nutrizionale</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>
                      </ul>
                      <div class="d-flex mt-3 align-items-center">
                        <h2 class="price">100€</h2>
                        <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"
                                                href="mailto:info@emanuelecaloisi.it">Contattami</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Column -->
                <div class="col-md-4">
                  <div class="card card-shadow border-0 mb-4">
                    <div class="p-3">
                      <h5 class="font-weight-medium mb-0">Piano Allenamento + Nutrizionista* - 3 Mesi</h5>
                      <h6 class="subtitle font-13">*Servizio in collaborazione con Chiara Carboni</h6>
                      <ul class="list-inline font-14 mt-3">
                        <li class="py-1"><i class="icon-check text-success"></i> Piano Nutrizionale</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>
                      </ul>
                      <div class="d-flex mt-3 align-items-center">
                        <h2 class="price">255€</h2>
                        <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"
                                                href="mailto:info@emanuelecaloisi.it">Contattami</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Column -->
                <div class="col-md-4">
                  <div class="card card-shadow border-0 mb-4">
                    <div class="p-3">
                      <h5 class="font-weight-medium mb-0">Piano Allenamento + Nutrizionista* - 6 Mesi</h5>
                      <h6 class="subtitle font-13">*Servizio in collaborazione con Chiara Carboni</h6>
                      <ul class="list-inline font-14 mt-3">
                        <li class="py-1"><i class="icon-check text-success"></i> Piano Nutrizionale</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Programma Allenamento</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Consulenza</li>
                        <li class="py-1"><i class="icon-check text-success"></i> Check Mensile</li>
                      </ul>
                      <div class="d-flex mt-3 align-items-center">
                        <h2 class="price">420€</h2>
                        <div class="ml-auto"><a class="btn btn-danger-gradiant rounded-pill text-white btn-md border-0"
                                                href="mailto:info@emanuelecaloisi.it">Contattami</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <section style="padding-top: 40px; margin-top: -40px;" id="news">
          <hr>
          <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">News</h2>
          <hr>

          <div class="row">
            <div class="col">
              <div class="containerSocialBox">
                <div id="fb-root" class=" fb_reset">
                  <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
                    <div></div>
                  </div>
                </div>

                <div class="fb-page fb_iframe_widget"
                     data-href="https://www.facebook.com/emanuelecaloisipersonaltrainer/" data-tabs="timeline"
                     data-width="500" data-height="500" data-small-header="true" data-adapt-container-width="true"
                     data-hide-cover="true" data-show-facepile="false" fb-xfbml-state="rendered">
                  <span style="vertical-align: bottom; width: 500px; height: 500px;">
                    <iframe name="ffaa2f6396f954"
                            width="500px"
                            height="500px"
                            data-testid="fb:page Facebook Social Plugin"
                            title="fb:page Facebook Social Plugin"
                            frameborder="0"
                            allowtransparency="true"
                            allowfullscreen="true"
                            scrolling="no"
                            allow="encrypted-media"
                            src="https://web.facebook.com/v3.3/plugins/page.php?adapt_container_width=true&amp;app_id=301480450250930&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df18fcbfe4aa2cc4%26domain%3Dwww.emanuelecaloisi.it%26origin%3Dhttps%253A%252F%252Fwww.emanuelecaloisi.it%252Ff269df31b78dec8%26relation%3Dparent.parent&amp;container_width=748&amp;height=500&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2Femanuelecaloisipersonaltrainer%2F&amp;locale=it_IT&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=500"
                            style="border: none; visibility: visible; width: 500px; height: 500px;"
                            class="">
                    </iframe>
                  </span>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="containerSocialBox">
                <blockquote class="instagram-media" data-instgrm-captioned
                            data-instgrm-permalink="https://www.instagram.com/p/CFiGS3fCrOw/?utm_source=ig_embed&amp;utm_medium=loading&amp;utm_campaign=embed_loading_state_script"
                            data-instgrm-version="10"
                            style="height:500px; background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">

                </blockquote>
              </div>
            </div>

          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <section style="padding-top: 40px; margin-top: -40px;" id="contatti">
          <hr>
          <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Contatti</h2>
          <hr>

          <div class="row">
            <div class="col"></div>
            <div class="col">
              <pre class="dark-grey-text text-justify">
                Sito:

                <a href="http://www.emanuelecaloisi.it"><b>www.emanuelecaloisi.it</b></a>

                Email:

                <a href="mailto:info@emanuelecaloisi.it"><b>info@emanuelecaloisi.it</b></a>
              </pre>
            </div>
            <div class="col"></div>
          </div>
        </section>
      </div>
    </div>

  </div>

</main>
<!-- Main -->

<!-- Footer -->
<footer class="page-footer font-small cyan redGradient">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/emanuele.caloisi">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/emanuelecaloisi/?hl=it">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Whatsapp-->
          <a class="wha-ic" href="https://wa.me/393293671498">
            <i class="fab fa-whatsapp fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 blackFont">Emanuele Caloisi - Partita IVA:
    13435071009 -
    <a class="blackFont" href="https://www.emanuelecaloisi.it/"> www.emanuelecaloisi.it </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
