<div class="col" *ngIf="!isMobile">
  <app-generic-news></app-generic-news>
</div>

<div id="accordionNews" *ngIf="isMobile">
  <div class="card">
    <div class="card-header" id="headingNews">
      <h5 class="mb-0">
        <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNews"
           aria-expanded="false" aria-controls="collapseNews">
          News
        </a>
      </h5>
    </div>

    <div id="collapseNews" class="collapse" aria-labelledby="headingNews" data-parent="#accordionNews">
      <div class="card-body">
        <app-generic-news></app-generic-news>
      </div>
    </div>
  </div>
</div>
