.bottomMargin {
  margin-bottom: 15px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 7px;
}


#mattImg {
  content: url(../../../assets/Recensioni/mattPhoto.jpg);
}

#giovImg {
  content: url(../../../assets/Recensioni/giovPhoto.jpg);
}

#pinaImg {
  content: url(../../../assets/Recensioni/pinaPhoto.jpg);
}

#gennImg {
  content: url(../../../assets/Recensioni/gennPhoto.jpg);
}

#martImg {
  content: url(../../../assets/Recensioni/martPhoto.jpg);
}

#daniImg {
  content: url(../../../assets/Recensioni/daniPhoto.jpg);
}

#imgCarousel1 {
  content: url(../../../assets/Carousel/imgCarousel1.jpg);
}

#imgCarousel2 {
  content: url(../../../assets/Carousel/imgCarousel2.JPG);
}

#imgCarousel3 {
  content: url(../../../assets/Carousel/imgCarousel3.jpg);
}

#imgCarousel4 {
  content: url(../../../assets/Carousel/imgCarousel4.JPG);
}

#imgCarousel5 {
  content: url(../../../assets/Carousel/imgCarousel5.JPG);
}
