<section style="padding-top: 40px; margin-top: -40px;" id="recensioni">
  <hr>
  <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
      style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Recensioni</h2>
  <hr>

  <div class="row">
    <div class="col-md-4">
      <!-- Card -->
      <div class="card testimonial-card bottomMargin">
        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>
        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img class="avatar rounded-circle" src="../../../assets/Recensioni/mattPhoto.jpg" alt="Matteo">
        </div>
        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Matteo</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fas fa-quote-left"></i> Coach estremamente competente e coinvolgente! Sempre un piacere
            partecipare alle sue lezioni e frequentare il suo box!
          </p>

          <div class="fill">
            <!-- Facebook -->
            <a href="https://www.facebook.com/matteo.mammucari.12/posts/10218002405873875"
               class="px-2 fa-lg fb-ic"><i class="fab fa-facebook" mdbTooltip="Vedi su facebook"></i></a>
          </div>
        </div>
      </div>
      <!-- Card -->
    </div>

    <div class="col-md-4">
      <!-- Card -->
      <div class="card testimonial-card bottomMargin">
        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>
        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img class="avatar rounded-circle" src="../../../assets/Recensioni/giovPhoto.jpg" alt="Giovanni">
        </div>
        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Giovanni</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fas fa-quote-left"></i> Grande persona! Le sue lezioni sono un mix perfetto di
            competenza, serietà e professionalità con una giusta dose di ironia e ilarità.
            Se vuoi superare i tuoi limiti il coach Caloisi é quello che fa per te.
          </p>

          <div class="fill">
            <!-- Facebook -->
            <a href="https://www.facebook.com/giovanni.scalese.716/posts/10223085674800000"
               class="px-2 fa-lg fb-ic"><i class="fab fa-facebook" mdbTooltip="Vedi su facebook"></i></a>
          </div>
        </div>
      </div>
      <!-- Card -->
    </div>

    <div class="col-md-4">
      <!-- Card -->
      <div class="card testimonial-card bottomMargin">
        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>
        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img class="avatar rounded-circle" src="../../../assets/Recensioni/gennPhoto.jpg" alt="Gennaro">
        </div>
        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Gennaro</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fas fa-quote-left"></i> Persona onesta, preparata, ama il suo lavoro. Mi ha cambiato in 2
            mesi il fisico, la mentalità. Straconsigliato! Complimenti Emanuele!
          </p>
          <div class="fill">
            <!-- Facebook -->
            <a href="https://www.facebook.com/GennySaraino/posts/10223365290943287" class="px-2 fa-lg fb-ic"><i
              class="fab fa-facebook" mdbTooltip="Vedi su facebook"></i></a>
          </div>
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-4">
      <!-- Card -->
      <div class="card testimonial-card bottomMargin">
        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>
        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img class="avatar rounded-circle" src="../../../assets/Recensioni/pinaPhoto.jpg" alt="Pina">
        </div>
        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Pina</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fas fa-quote-left"></i> Coach Ema ha creduto in me più di quanto lo abbia fatto io
            stessa. Mi spinge sempre a dare il massimo e a crederci un po’ di più. Sto risolvendo i miei
            problemi di mobilità al fine di raggiungere i miei obiettivi. Unico e irripetibile, burlone ma
            attento, severo ma giusto! Semplicemente Ema! #daje
          </p>

          <div class="fill">
            <!-- Facebook -->
            <a href="https://www.facebook.com/pina.spacone/posts/3593181290701602" class="px-2 fa-lg fb-ic"><i
              class="fab fa-facebook" mdbTooltip="Vedi su facebook"></i></a>
          </div>
        </div>
      </div>
      <!-- Card -->
    </div>

    <div class="col-md-4">
      <!-- Card -->
      <div class="card testimonial-card bottomMargin">
        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>
        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img class="avatar rounded-circle" src="../../../assets/Recensioni/martPhoto.jpg" alt="Martina">
        </div>
        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Martina</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fas fa-quote-left"></i> Un super coach!!!
            È un mix di talento, passione, preparazione e professionalità!
            Sto imparando cose che mai avrei pensato di poter apprendere! Mi sta aiutando a superare limiti che
            credevo impossibile poter affrontare!
            Lo consiglierei altre 100 volte!
          </p>

          <div class="fill">
            <!-- Facebook -->
            <a href="https://www.facebook.com/martina.passaretti.3/posts/10157894406267893"
               class="px-2 fa-lg fb-ic"><i class="fab fa-facebook" mdbTooltip="Vedi su facebook"></i></a>
          </div>
        </div>
      </div>
      <!-- Card -->
    </div>

    <div class="col-md-4">
      <!-- Card -->
      <div class="card testimonial-card bottomMargin">
        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>
        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img class="avatar rounded-circle" src="../../../assets/Recensioni/daniPhoto.jpg" alt="Daniele">
        </div>
        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Daniele</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fas fa-quote-left"></i> Pratico il crossfit da qualche anno ed ero arrivato ad un punto
            in cui non riuscivo a superare alcuni ostacoli su movimenti e pesi. Ho incontrato Emanuele e devo
            dire che con la sua professionalità, passione, preparazione e pazienza sto superando me stesso e gli
            allenamenti vanno verso un livello superiore...ed allenamento a parte è sempre sorridente e pronto a
            darti consigli. Grande persona!!!
          </p>

          <div class="fill">
            <!-- Facebook -->
            <a href="https://www.facebook.com/daniele.cufari.7/posts/10223895035629688"
               class="px-2 fa-lg fb-ic"><i class="fab fa-facebook" mdbTooltip="Vedi su facebook"></i></a>
          </div>
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</section>
