<section style="padding-top: 40px; margin-top: -40px;" id="metodo">
  <hr>
  <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
      style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Il Programma</h2>
  <hr>
  <p class="dark-grey-text text-justify">
    Respiro sport da tutta la mia vita, ne ho fatto una professione che negli anni mi ha dato la possibilità di
    aiutare moltissime persone a raggiungere i propri obiettivi, sia per amatori che agonisti.
  </p>
  <p class="dark-grey-text text-justify">
    La mia mission è offrirti un programma che sia il più personalizzato possibile per le tue esigenze,
    obiettivi e che sia cucito su te stesso in base ai tuoi orari, attrezzatura e stile di allenamento.
  </p>
  <p class="dark-grey-text text-justify">
    Negli anni ho avuto la fortuna di collaborare con un team di professionisti che, laddove sia necessario,
    mi supportano in questo programma, quali ad es. fisioterapista e nutrizionista.
  </p>
  <p class="dark-grey-text text-justify">
    Il mio programma è per tutti e per tutte le età, che tu sia un agonista, un businessman, una casalinga
    o semplicemente una persona che vuole rimettersi in forma!
  </p>
  <p class="dark-grey-text text-justify">
    Sono felice di poterti aiutare a raggiungere i tuoi obiettivi!
  </p>
</section>

<div class="row">
  <div class="col">
    <mdb-carousel [animation]="'slide'" [interval]="false">
      <mdb-carousel-item>
        <img
          [ngClass]="{'col-xl-4 col-md-4 mb-3 text-center align-self-center': isMobile, 'd-block w-100': !isMobile}"
          src="../../../assets/Carousel/imgCarousel2.JPG" alt="Carousel_1">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          [ngClass]="{'col-xl-4 col-md-4 mb-3 text-center align-self-center': isMobile, 'd-block w-100': !isMobile}"
          src="../../../assets/Carousel/imgCarousel3.JPG" alt="Carousel_2">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          [ngClass]="{'col-xl-4 col-md-4 mb-3 text-center align-self-center': isMobile, 'd-block w-100': !isMobile}"
          src="../../../assets/Carousel/imgCarousel4.jpg" alt="Carousel_3">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          [ngClass]="{'col-xl-4 col-md-4 mb-3 text-center align-self-center': isMobile, 'd-block w-100': !isMobile}"
          src="../../../assets/Carousel/imgCarousel5.jpg" alt="Carousel_4">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          [ngClass]="{'col-xl-4 col-md-4 mb-3 text-center align-self-center': isMobile, 'd-block w-100': !isMobile}"
          src="../../../assets/Carousel/imgCarousel1.jpg" alt="Carousel_5">
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>
