<div class="col" *ngIf="!isMobile">
  <app-generic-prezzi></app-generic-prezzi>
</div>

<div id="accordionPrezzi" *ngIf="isMobile">
  <div class="card">
    <div class="card-header" id="headingPrezzi">
      <h5 class="mb-0">
        <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsePrezzi"
           aria-expanded="false" aria-controls="collapsePrezzi">
          Prenota
        </a>
      </h5>
    </div>

    <div id="collapsePrezzi" class="collapse" aria-labelledby="headingPrezzi" data-parent="#accordionPrezzi">
      <div class="card-body">
        <app-generic-prezzi></app-generic-prezzi>
      </div>
    </div>
  </div>
  <br>
</div>
