<div class="col" *ngIf="!isMobile">
  <app-generic-metodo></app-generic-metodo>
</div>

<div id="accordionMetodo" *ngIf="isMobile">
  <div class="card">
    <div class="card-header" id="headingMetodo">
      <h5 class="mb-0">
        <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseMetodo"
           aria-expanded="false" aria-controls="collapseMetodo">
          Il Programma
        </a>
      </h5>
    </div>

    <div id="collapseMetodo" class="collapse" aria-labelledby="headingMetodo" data-parent="#accordionMetodo">
      <div class="card-body">
        <app-generic-metodo></app-generic-metodo>
      </div>
    </div>
  </div>
  <br>
</div>
