/* You can add global styles to this file, and also import other style files */
html,
body,
header,
#coverImg {
  height: 100%;
  font-family: Open Sans, serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'EmanueleCaloisi';
  src: url('assets/Emanuelecaloisi-Regular.ttf')  format('truetype');
  font-weight: bold;
}

.titleSection {
  font-family: Stencil, sans-serif;
}

b {
  font-weight: 900;
}

hr {
  border-width: 5px;
}

a {
  font-family: Arial, serif;
}
