/* You can add global styles to this file, and also import other style files */
html,
body,
header,
#coverImg {
  height: 100%;
  font-family: Open Sans, serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'EmanueleCaloisi';
  src: url('assets/Emanuelecaloisi-Regular.ttf')  format('truetype');
  font-weight: bold;
}

.titleSection {
  font-family: Stencil, sans-serif;
}

b {
  font-weight: 900;
}

hr {
  border-width: 5px;
}

a {
  font-family: Arial, serif;
}

/**********************************/
/* SEZIONE PER ACCORDION COLLAPSE */
/**********************************/
.mb-0 > a:after {
  float: right !important;
  font-family: FontAwesome, serif;
  content: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%234e555c%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E");
  padding-right: 5px;
}

.mb-0 > a.collapsed:after {
  float: right !important;
  content: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%234e555c%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%234e555c%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E");
}

.mb-0 > a:hover,
.mb-0 > a:active,
.mb-0 > a:focus {
  text-decoration: none;
}

.mb-0 > a {
  display: flex;
  justify-content: space-between;

}

.mb-0 {
  margin: 0 !important;
}

.btn-link {
  font-size: 18px;
}

.btn-link:hover {
  color: #718599 !important;
  text-decoration: none !important;;
  outline: 0 !important;;
}

.btn-link:visited {
  display: block !important;;
  font-size: 18px !important;;
  line-height: 1.4 !important;;
  color: #28333e !important;;
  padding: 0 0 !important;;
  background: 0 0 !important;;
  overflow: hidden !important;;
  letter-spacing: 0 !important;;
}

.btn-link:focus {
  color: #718599 !important;;
  text-decoration: none !important;;
  outline: 0 !important;;
}
/***************************************/
/* FINE SEZIONE PER ACCORDION COLLAPSE */
/***************************************/

