/* You can add global styles to this file, and also import other style files */

body,
header,
#intro {
  height: 100%;
  scroll-behavior: smooth;
}

html {
  height: 100vh; /* set viewport constraint */
  min-height: 100%; /* enforce height */
}
