<iframe *ngIf="!isMobile" style="border: none; visibility: visible; width: 500px; height: 722px;" frameborder="0" allowtransparency="true" allowfullscreen="true"
        src='https://embedsocial.com/facebook_album/pro_hashtag/626a6143a9217b09212c4fa5aa8d415cceb9f886'>
</iframe>
<iframe *ngIf="isMobile" style="border: none; visibility: visible; width: 330px; height: 722px;" frameborder="0" allowtransparency="true" allowfullscreen="true"
        src='https://embedsocial.com/facebook_album/pro_hashtag/626a6143a9217b09212c4fa5aa8d415cceb9f886'>
</iframe>
