<div class="col" *ngIf="!isMobile">
  <app-generic-contatti></app-generic-contatti>
</div>

<div id="accordionContatti" *ngIf="isMobile">
  <div class="card">
    <div class="card-header" id="headingContatti">
      <h5 class="mb-0">
        <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseContatti"
           aria-expanded="false" aria-controls="collapseContatti">
          Contatti
        </a>
      </h5>
    </div>

    <div id="collapseContatti" class="collapse" aria-labelledby="headingContatti" data-parent="#accordionContatti">
      <div class="card-body">
        <app-generic-contatti></app-generic-contatti>
      </div>
    </div>
  </div>
  <br>
</div>
