<section style="padding-top: 40px; margin-top: -40px;" id="contatti">
  <hr>
  <h2 class="text-center font-weight-bold wow fadeIn titleSection" data-wow-delay="0.2s"
      style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Contatti</h2>
  <hr>

  <div class="row">
    <div class="col d-flex justify-content-center">
              <pre class="dark-grey-text text-justify contattiFont">
                Sito:

                <a href="http://www.emanuelecaloisi.it"><b>www.emanuelecaloisi.it</b></a>

                Email:

                <a href="mailto:info@emanuelecaloisi.it"><b>info@emanuelecaloisi.it</b></a>
              </pre>
    </div>
  </div>
</section>
